<h3>Chat</h3>
<hr>
<div class="app-mensajes" id="app-mensajes">
  <div *ngFor="let chat of chatService.chats | async"
      [ngClass]="{ 'text-right': chatService.usuario.nombre == chat.nombre  }">
      <span class="badge"
            [ngClass]="{ 'badge-primary': chatService.usuario.nombre == chat.nombre,
                         'badge-success': chatService.usuario.nombre != chat.nombre}">
        {{ chat.nombre }}
      </span>
      <p> {{ chat.mensaje }} </p>
  </div>
</div>

<input
      [(ngModel)]="mensaje"
      (keyup.enter) = "enviar()"
      class="form-control"
      placeholder="Escriba su mensaje"
      type="text" name="mensaje" value="">
